@use '@scss/variables' as vars;

.input-area {
  padding: 40px;
  border-radius: 30px;
  box-shadow: vars.$shadow;

  &--success {
    box-shadow: vars.$shadow-success;
  }

  &--error {
    box-shadow: vars.$shadow-error;
  }
}