// Фиолетовые цвета
$purple-light: #D592FF;
$purple: #9552FF;
$purple-dark: #733CCC;

// Зеленые цвета
$green-light: #A5F0C6;
$green: #74FFB1;
$green-dark: #3CD67F;

// Оранжевые цвета
$orange-light: #FFCA79;
$orange: #FFBA52;
$orange-dark: #EFA12D;

// Красные цвета
$red-light: #FFACAD;
$red: #FF9092;
$red-dark: #F36769;

// Общие цвета
$white: #FFFFFF;
$black: #000000;
$gray: #C4C4C4;